
.header {
    display: flex;
    align-items: center; 
    width: 100%;
    height: 80px; 
    background-color: #033a29; 
    position: absolute;
    top: 0;
    left: 0
}


.searchBar{
    margin-top: 45px;

}
#search{
    position: absolute;
    padding: 15px;
    width: 500px;
    top: 100px;
    left: 415px;
    border-radius: 50px;
    border-style: none;
    
}
#search::placeholder {
    font-size: 15px;
}
.searchIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 410px;
    bottom: 503px;
    background-color: #00573C;
    border-radius: 48%;
    padding: 1px; 
}
.Product-container{
   position: absolute;
   top: 170px;
   left: 20px;
}
.product-title{
    font-size: 35px;
    color: #fefefe;

}
.sortIcon{
    position: absolute;
    top: 190px;
    right: 30px;
    width: 30px;
    height: 30px;
}
