.farmer-container{
    position: relative;
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #050505;
    background-color: #fefefe;
    width: 1280px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    
}
.farmerProf{
    position: absolute;
    width: 100px;
    background-color: rgb(34, 180, 132);
    border-radius: 50px;
}
.farmer-name{
    position: relative;
    font-size: 40px;
    left: 125px;
    bottom: -10px;
}