.vegeCard{
    position:relative;
    display: flex;
    align-items: left;
    background-color: antiquewhite;
    margin-bottom: 20px;
    top:170px;
    gap: 15px;
    width: 1280px;
    padding: 15px;
    border-radius: 10px;
}
.vegePicture{
    width: 150px;
    height: 150px;
}
.vegeName{
    position: absolute;
    margin: auto;
    left:180px;
    font-size: 30px;
    font-weight: bold;
}
.labelSize{
    display: flex;
    position: absolute;
    left: 190px;
    top: 65px;
    align-items: center;
    gap: 10px; 
}

.labelSize .ActiveSize {
    display: flex;
    border-radius: 25px;
    background-color: #00573C;
    padding: 10px 15px;
    color: white;
    
  }
  .quantity {
    display: flex;
    position: absolute;
    margin-left: auto;
    align-items: center;
    left:190px;
    top:110px;
    border-radius: 25px;
    background-color: #00573C;
    color: #fefefe;
    padding: 10px 15px;
  }

  .button-market {
    position: absolute;
    top: 145px;
    right: 10px;
    text-decoration: underline;
    color: #16A34A;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button-market:hover {
    color: rgb(43, 153, 187);
  }
