.vegetableTitle{
    position: absolute;
    margin: auto;
    color: #fefefe;
    font-size: 40px;
    font-weight: 700;
    top:230px;
    left:20px;
  

}
.vegetableProduct{
    position: absolute;
    top: 115px;
    left: 15px;
    margin: auto;
    
}